* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* NoScript Ocean theme start */


.animation-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  background: #ace5ee;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.water {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.water ul.waves {
  list-style: none;
  margin: 0;
  padding: 0;
}

.water ul.waves li {
  background-repeat: repeat-x;
}

.water ul.waves li.wave-one {
  animation: wave 8.7s linear infinite;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: 0px;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.water ul.waves li.wave-two {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 10s linear infinite;
  bottom: 0px;
  height: 84px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 9;
}

.water ul.waves li.wave-three {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 25s linear infinite;
  bottom: 0;
  height: 190px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 8;
}

.water ul.waves li.wave-four {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 25s linear infinite;
  bottom: 0;
  height: 205px;
  left: 0;
  position: absolute;
  right: 0;
}

.boat {
  animation: boat 3s linear infinite;
  background-repeat: no-repeat;
  bottom: 175px;
  height: 145px;
  left: 50%;
  position: absolute;
  width: 250px;
}

.cloud {
  animation: cloud 30s linear infinite;
  background-repeat: no-repeat;
  height: 165px;
  left: 0;
  position: absolute;
  width: 297px;
}

.cloud2 {
  animation: cloud 25s linear infinite;
  background-repeat: no-repeat;
  bottom: 320px;
  height: 165px;
  left: 140px;
  position: absolute;
  width: 297px;
}

.dolphin {
  animation: fish 15s linear infinite;
  background-repeat: no-repeat;
  bottom: 45px;
  height: 80px;
  left: 20%;
  position: absolute;
  width: 124px;
  z-index: 9;
}

/*Animation Keyframe Section*/

@keyframes wave {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1920px 0;
  }
}

@keyframes boat {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes cloud {
  0% {
    left: -30%;
  }

  100% {
    left: 100%;
  }
}

.noscript-text-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.noscript-text {
  font-family: 'arial';
  color: black;
  font-size: 20px;
  margin: 10%;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 1px #fff;
  translate: 0;
  z-index: 999;
}

/* NoScript Ocean theme end */

/* Footer Start */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/* 
* {
	font-family: "Roboto";
} */

.footer {
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 85px 40px;
	overflow: hidden;
}

section {
	width: 100%;
	display: inline-block;
	background: #ccc;
	height: 60vh;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	text-decoration: underline;
}

/* Footer left */
.footer .footer-left {
	float: left;
}

/* The company logo */
.footer h3 {
	color: #ffffff;
	font: normal 36px "Roboto", cursive;
	margin: 0 0 10px;
}

.footer img {
	height: 70px;
}

/* Footer links */
.footer .footer-links {
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */
.footer .footer-icons {
	margin-top: 40px;
}

.footer .footer-icons a {
	display: inline-block;
	width: 44px;
	height: 44px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 44px;

	margin: 5px 10px;
}
.footer .footer-icons i {
	padding: 12px;
	vertical-align: middle;
	text-align: center;
}

/* Footer Right */
.footer .footer-right {
	float: right;
	margin-left: 15px;
}

.footer .footer-right p {
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */
.footer form {
	display: inline-block;
}

.footer form input,
.footer form textarea {
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color: #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer ::-webkit-input-placeholder {
	color: #5c666b;
}

.footer ::-moz-placeholder {
	color: #5c666b;
	opacity: 1;
}

.footer :-ms-input-placeholder {
	color: #5c666b;
}

.footer form input {
	height: 55px;
	margin-bottom: 15px;
}

.footer form textarea {
	height: 100px;
	margin-bottom: 20px;
}

.footer form .sendButton {
	border-radius: 3px;
	background-color: #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

@media (max-width: 1025px) {
	.footer {
		font: bold 14px sans-serif;
	}

	.footer .footer-company-name {
		font-size: 12px;
	}

	.footer form input,
	.footer form textarea {
		width: 285px;
	}

	.footer form .sendButton {
		padding: 10px 35px;
	}
}

@media (max-width: 860px) {
	.footer form input,
	.footer form textarea {
		width: 255px;
	}
}
@media (max-width: 830px) {
	.footer form input,
	.footer form textarea {
		width: 235px;
	}
}
@media (max-width: 815px) {
	.footer form input,
	.footer form textarea {
		width: 215px;
	}
}
@media (max-width: 790px) {
	.footer {
		padding: 30px;
		padding-left: 85px;
	}

	.footer .footer-left,
	.footer .footer-right {
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer .footer-left {
		margin-bottom: 40px;
	}

	.footer form {
		margin-top: 30px;
	}

	.footer form {
		display: block;
	}

	.footer form .sendButton {
		float: none;
	}

	.footer form input,
	.footer form textarea {
		width: 265px;
	}
}
@media (max-width: 425px) {
	.footer .footer-left h3 {
		font-size: 30px;
	}
}
@media (max-width: 350px) {
	.footer form input,
	.footer form textarea {
		width: 225px;
	}
}

/* Footer End */

/* sidebar */
body {
	display: grid;
	grid-template-columns: minmax(275px, 20%) 1fr;
	min-height: 100vh;
}
.sidebar {
	--sidebar-primary: hsl(240, 5%, 17%);
	--sidebar-heading-clr: hsla(0, 0%, 100%, 0.7);
	--sidebar-list-hover-clr: hsla(240, 5%, 12%, 0.5);

	--sidebar-icon-bg: hsl(240, 5%, 12%);
	--sidebar-toggle-btn-bg: hsl(240, 5%, 12%);
	--sidebar-active-indicator-bg: #4285f4;

	--sidebar-primary-gap: .95em;
	--sidebar-primary-gap-half: calc(var(--sidebar-primary-gap) / 2);
	--sidebar-primary-gap-2x: calc(var(--sidebar-primary-gap) * 1.75)
}

.sidebar {
	background-color: var(--sidebar-primary);
	color: white;
	max-height: 100vh;
	transition: width 400ms;
	width: 100%;
	white-space: nowrap;
}
.sidebar_mode_compact {
	width: 4em;
	--sidebar-primary-gap: .8em;
}
.sidebar_mode_compact .sidebar__main {
	padding-top: 0;
	overflow: initial;
}

.sidebar_mode_compact .sidebar__section-heading, 
.sidebar_mode_compact .sidebar-list__item span > span{
	display: none;
}
.sidebar_mode_compact .sidebar-list__item i {
	margin: 0;
}
.sidebar, .sidebar a, .sidebar button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
}
.sidebar a, .sidebar button {
	text-decoration: none;
	font-weight: 500;
}
.sidebar__wrapper {
	display: grid;
	grid-template-rows: 1fr max-content;
}
.sidebar__wrapper, .sidebar__main  {
	height: 100%;
}
.sidebar__main {
	display: flex;
	flex-direction: column;
	gap: var(--sidebar-primary-gap);
	overflow-y: overlay;
	padding-top: var(--sidebar-primary-gap-half)
}
.sidebar__section {
	display: flex;
	flex-direction: column;
	gap: var(--primary-gap);
}
.sidebar__section-divider {
	padding-inline: var(--sidebar-primary-gap);
	margin-bottom: var(--sidebar-primary-gap=half)
}
.sidebar__section-divider > hr {
	border-color: rgba(0, 0, 0, 0.1);
}
.sidebar__section-heading {
	color: var(--sidebar-heading-clr);
	font-weight: 600;
	font-size: clamp(.8rem, 1.5vw, 1rem);
	text-transform: uppercase;
	padding-inline: var(--sidebar-primary-gap);
	margin-bottom: var(--sidebar-primary-gap)
}
.sidebar-list {
	list-style-type: none;
}
.sidebar-list__item {
	user-select: none;
	position: relative;
}
.sidebar-list__item > a, .sidebar-list__item > span {
	display: inline-block;
	width: 100%;
	padding: var(--sidebar-primary-gap);
	cursor: pointer;
	transition: 250ms background;
}
.sidebar-list__item_active {
	box-shadow: inset .2em 0 0 var(--sidebar-active-indicator-bg);
}
.sidebar-list__item_mode_compact > a > span {
	display: inline-block;
	width: calc(max(40vw, 60em) / 4);
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--sidebar-active-indicator-bg);
	transition: transform 300ms linear, color 300ms 200ms;
	color: transparent;
}
.sidebar-list__item_mode_compact > a:hover > span {
	transform: translate(100%, -50%);
	color: inherit;
}
.sidebar-list__item_mode_compact > a:hover > i {
	z-index: 2;
	background-color: var(--sidebar-active-indicator-bg);
}
.sidebar-list__item > a:hover {
	background-color: var(--sidebar-list-hover-clr)
}
.sidebar-list__item_disabled {
	opacity: .4;
    user-select: none;
}
.sidebar-list__item_disabled > a, 
.sidebar-list__item_disabled > span {
	cursor: not-allowed;
}
.sidebar-list__item i {
	position: relative;
	background-color: var(--sidebar-icon-bg);
	width: 2em;
	height: 2em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: var(--sidebar-primary-gap-half);
}

.sidebar__toggle-btn {
	padding: var(--sidebar-primary-gap-2x) var(--sidebar-primary-gap);
	width: 100%;
	border: 0;
	background: var(--sidebar-toggle-btn-bg);
	cursor: pointer;
	user-select: none;
}